button:hover {
  border-color: var(--bs-btn-hover-border-color) !important;
}

button.btn-dark {
  border: var(--bs-light);
  border-style: solid;
  border-width: thin;
}

button.btn-light {
  border: var(--bs-dark);
  border-style: solid;
  border-width: thin;
}

[data-bs-theme=dark] button.btn-fix {
  border: var(--bs-light);
  border-style: solid;
  border-width: thin;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #424649;
}

[data-bs-theme=light] button.btn-fix {
  border: var(--bs-dark);
  border-style: solid;
  border-width: thin;
  --bs-btn-hover-bg: #c6c7c8;
  --bs-btn-hover-border-color: #c6c7c8;
}

.dropdown-menu[data-bs-popper] {
  left: unset;
  right: -1px;
}
